body {
    margin: 0;
    background-color: rgb(33, 33, 33);
    text-align: center;
    overflow: hidden;
}

#carCanvas {
    background-color: darkgray;
}

#networkCanvas {
    background-color: rgb(40, 40, 40);
}